<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @pokemon.name %>
</p>

<p>
	<img src="<%= @pokemon.image_url %>" />
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>


<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
data-description="<%= @pokemon.name %>"
data-amount="1000"
data-locale="auto"></script>

<br>
<br>

<a href="/charges/new">Alt Checkout</a>